<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <h3 class="card-title clearfix">Vehicle Models</h3>
            </div>
            <div class="col-7 text-right">
              <a class="btn btn-primary" [routerLink]="['add']">
                <i class="fa fa-cubes"></i>&nbsp;Add new model</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Model Name</th>
                      <th class="operation"></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="items">
                    <tr *ngFor="let item of items.model | slice : (modelListPageNo-1)*itemsPerPage : modelListPageNo*itemsPerPage">
                      <td>{{ item.name }}</td>
                      <td class="operation text-right">
                        <a class="btn btn-secondary" [routerLink]="[item.id]">
                          View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination *ngIf="items" [totalItems]="items.model.length" [(ngModel)]="modelListPageNo" [maxSize]="6" [itemsPerPage]="itemsPerPage"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>