<ol *ngIf="crumbs.length" class="breadcrumb">
  <li *ngFor="let crumb of crumbs; let last = last" [ngClass]="{ 'active': last }" class="breadcrumb-item">
    <a *ngIf="!last" [routerLink]="crumb.path">{{ crumb.text }}</a>
    <span *ngIf="last">{{ crumb.text }}</span>
  </li>
  <li *ngIf="breadcrumbSwitchLinks" class="breadcrumb-menu">
    <div aria-label="Breadcurmbs menu" class="btn-group" role="group">
      <a *ngFor="let menuItem of breadcrumbSwitchLinks" class="btn" [routerLink]="menuItem.routerLink" [class.disabled]="menuItem.disabled">
        <i [class]="menuItem.icon"></i>
        <span class="ml-1 d-sm-down-none">{{menuItem.text}}</span>
      </a>
    </div>
  </li>
</ol>