/*
 * @Author: LoiDT2 
 * @Date: 2018-11-13 09:25:07 
 * @Last Modified by:   LoiDT2 
 * @Last Modified time: 2018-11-13 09:25:07 
 */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  @media (max-height: 719px), (max-width: 1279px) {
    width: 40.2px;
    height: 22.78px;
  }
  @media (min-height: 720px) and (max-height: 944px),
    (min-width: 1280px) and (max-width: 1679px) {
    width: 40.2px;
    height: 22.78px;
  }
  @media (min-height: 945px) and (max-height: 1079px),
    (min-width: 1680px) and (max-width: 1919px) {
    width: 52.2px;
    height: 29.75px;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  @media (max-height: 719px), (max-width: 1279px) {
    width: 40.2px;
    height: 22.78px;
  }
  @media (min-height: 720px) and (max-height: 944px),
    (min-width: 1280px) and (max-width: 1679px) {
    height: 17.42px;
    width: 17.42px;
    left: 2.86px;
    bottom: 2.86px;
  }
  @media (min-height: 945px) and (max-height: 1079px),
    (min-width: 1680px) and (max-width: 1919px) {
    height: 22.75px;
    width: 22.75px;
    left: 3.5px;
    bottom: 3.5px;
  }
}

input:checked + .slider {
  background-color: #e50012;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  @media (max-height: 719px), (max-width: 1279px) {
    -webkit-transform: translateX(17.42px);
    -ms-transform: translateX(17.42px);
    transform: translateX(17.42px);
  }
  @media (min-height: 720px) and (max-height: 944px),
    (min-width: 1280px) and (max-width: 1679px) {
    -webkit-transform: translateX(17.42px);
    -ms-transform: translateX(17.42px);
    transform: translateX(17.42px);
  }
  @media (min-height: 945px) and (max-height: 1079px),
    (min-width: 1680px) and (max-width: 1919px) {
    -webkit-transform: translateX(22.75px);
    -ms-transform: translateX(22.75px);
    transform: translateX(22.75px);
  }
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
