/*
 * @Author: LoiDT2 
 * @Date: 2018-11-13 09:24:51 
 * @Last Modified by:   LoiDT2 
 * @Last Modified time: 2018-11-13 09:24:51 
 */
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
    margin-left: 25%;
    margin-top: -3%;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  