// Font/font
@font-face {
	font-family: 'Helvetica_Bold';
	src: url('../../assets/fonts/HelveticaNeueBd.ttf') format("truetype");
}
@font-face {
	font-family: 'Helvetica_Medium';
	src: url('../../assets/fonts/HelveticaNeueMed.ttf') format("truetype");

}
@font-face {
	font-family: 'Helvetica_Regular';
	src: url('../../assets/fonts/HelveticaNeueMed.ttf') format("truetype");
}
@font-face {
	font-family: 'Helvetica_Light';
	src: url('../../assets/fonts/HelveticaNeueLt.ttf') format("truetype");
}