<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">

      <h3 class="card-title mb-0">Upload OTA Image
      </h3>
      <hr>
      <div>
        <div class="box has-advanced-upload file-drop-zone" ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (click)="otaFile.click()"
          (fileOver)="fileOverBase($event)" [uploader]="uploader" (onFileDrop)="dropFile($event)" style="cursor: pointer; z-index: 100"> 
          <div class="box__input">
            <i class="box__icon fa fa-upload fa-4x"></i>
            <br>
            <input #otaFile id="otaFile" class="box__file" type="file" (change)="onFileChange()" ng2FileSelect [uploader]="uploader" (onFileSelected)="selectFile($event)"
            />
            <label style="cursor: pointer" *ngIf="!hasSelectedFile()">
              <strong>Choose a file</strong>
              <span> or drag it here</span>.
            </label>
            <label style="cursor: pointer" *ngIf="hasSelectedFile()">
              <strong>{{uploader.queue[0].file.name}}</strong>
            </label>
            <button type="button" class="box__button" (click)="uploader.uploadAll();$event.cancelBubble=true;" [disabled]="!uploader.queue[0] || uploader.queue[0].isUploaded || uploader.queue[0].isUploading">Upload</button>
          </div>
          <div *ngIf="uploader.isUploading">Uploading&hellip;</div>
          <div *ngIf="uploader.queue.length>0&&uploader.queue[0].isSuccess">Done!</div>
          <div *ngIf="otaId">OTA ID: {{otaId}}</div>
          <div *ngIf="errorMsg">Error!
            <span>{{errorMsg}}</span>
          </div>
          <div *ngIf="uploader.isUploading || (uploader.queue[0] && uploader.queue[0].isSuccess)" class="progress" style="margin: 30px auto 0;">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>